@font-face {
  font-family: 'Merienda';
  src: url(/src/fonts/Merienda-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merienda';
  src: url(/src/fonts/Merienda-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Great_Vibes';
  src: url(/src/fonts/GreatVibes-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}